.bigo-great {
  color: #659f13;
}

.bigo-ok {
  color: #e28327;
}

.bigo-bad {
  color: #d85030;
}

.bigoref .uk-table code {
  padding: 4px;
  font-size: 13px;
}

.bigoref .uk-width-medium-3-4 {
  padding-left: 18px;
}

.page-break { 
  display: none;
}

.twitter-share-button {
  margin-bottom: 5px;
}

.fb-like {
  margin-bottom: 10px;
}

@media print {
  .uk-width-medium-1-4, #fork-me-github, .no-print, .uk-grid-divider {
    display: none;
  }

  a {
    text-decoration: none;
    color: #000 !important;
  }

  .uk-width-medium-3-4 {
    width: 100%;
  }

  div, h2 { 
    float: none !important;
  }

  h2 {
    padding-top: 20px;
  }

  .page-break { 
    page-break-inside: avoid; 
    page-break-after: always;
  }
}

