.bigo-great {
  color: #659f13;
}

.bigo-ok {
  color: #e28327;
}

.bigo-bad {
  color: #d85030;
}

.bigoref .uk-table code {
  padding: 4px;
  font-size: 13px;
}

.bigoref .uk-width-medium-3-4 {
  padding-left: 18px;
}